.m-topic-box {
    .m-topic-box__content {
        display: flex;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid rgba(232, 232, 232, 1);

        &:hover {
            // background: #f5f6f7;
            background: rgba(250, 251, 252, 1);
        }
    }
}

.m-topic-imgs {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    .m-topic-imgs__item {
         min-width: 48px;
        cursor: pointer;
        height: 48px;
        border-radius: 4px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        img {
            vertical-align: top;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.m-topic-collection {
    & > a {
        cursor: pointer;
        display: inline-block;
        width: auto;
        font-size: 12px;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid rgba(199, 199, 199, 1);
        .u-label {
            display: inline-block;
            padding: 0 4px;
            background: rgba(199, 199, 199, 1);
            color: white;
        }
        .u-value {
            padding: 0 6px;
            color: rgba(173, 173, 173, 1);
        }
    }
}

.m-topic-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: rgba(64, 128, 255, 1);
    span {
        font-size: 12px;
        cursor: pointer;
        padding: 2px 4px;
        background: rgba(227, 242, 255, 1);
        border-radius: 4px;
        line-height: 18px;
        &:hover {
            color: rgba(255, 64, 128, 1);
        }
    }
}

.m-topic-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    .m-topic-top__time {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        color: rgba(122, 122, 122, 1);
        .u-timeload-icon {
            width: 12px;
            height: 12px;
        }
    }
    .m-topic-category {
        padding: 3px 12px;
        font-size: 12px;
        border-radius: 12px 12px 12px 0px;
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 700;
        align-items: center;
        user-select: none;
        cursor: pointer;
        color: @color;
        & > div {
            display: flex;
            align-items: center;
        }
    }
}

.m-topic-userInfo {
    & > a {
        color: @color;
        &:hover {
            color: @color-link;
            text-decoration: underline;
        }
    }
    .m-topic-userInfo__avatar {
        width: 18px;
        height: 18px;
        border-radius: 100%;
        margin-right: 6px;
        vertical-align: middle;
    }
    .m-topic-userInfo__name {
        vertical-align: middle;
        font-size: 13px;
    }
}

.m-topic-list {
    width: 100%;
    column-count: 3;
    column-gap: 48px;
    counter-reset: count;
    margin-bottom: 42px;
    .m-topic-box {
        break-inside: avoid;
        margin-bottom: 24px;
        border-radius: 10px;
        .u-content-aside {
            min-width: 168px;
            width: 168px;
            padding-right: 16px;
            border-right: 1px solid rgba(229, 229, 229, 1);
            margin-right: 16px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .u-cover {
                // width: 168px;
                width: 100%;
                height: 88px;
                overflow: hidden;
                border-radius: 4px;
                background-size: 300% 100%;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .u-title {
                cursor: pointer;
                font-size: 15px;
                line-height: 28px;
                // color: rgba(64, 128, 255, 1);
                color:@color-link;
                margin: 0;
                .bold;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .u-box-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 24px;
            justify-content: space-between;
            overflow: hidden;
        }
    }
}

.m-topic-content,
.m-topic-content a {
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.m-topic-pages {
    margin-bottom: 10px;
    width: 100%;
}

.m-topic-hot__mini {
    display: none;
}

.m-community-header__popover[x-placement^="top"] {
    .popper__arrow {
        border-top-color: #eee
    }
}

@media screen and (max-width: @pc) {
    .m-topic-list {
        column-count: 2;
    }
}
@media screen and (max-width: @ipad) {
    .m-topic-list {
        column-count: 1;
        margin-bottom: 0;
        .m-topic-box {
            .m-topic-box__content {
                flex-direction: column;
            }
            .u-content-aside {
                padding-right: 0;
                margin-right: 0;
                border: 0;
                width: 100%;
                .u-cover {
                    display: none;
                }
            }
        }
        .m-topic-userInfo {
            padding-bottom: 8px;
            margin-bottom: 8px;
            border-bottom: 1px solid rgba(229, 229, 229, 1);
        }
        .m-topic-content {
            display: -webkit-box;
            -webkit-line-clamp: 4; /* 控制显示的行数 */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .m-topic-hot {
        display: none;
    }
    .m-topic-hot__mini {
        display: block;
    }
}
