.m-community-single {
    padding: 0 20px;
    .el-divider__text {
        color: #888;
        font-weight: 300;
    }

    .m-pagination-box {
        display: flex;
        justify-content: flex-end;
    }
}
