.m-community-single {
    .m-single-header {
        padding-left: 32px;
    }
    .el-divider__text {
        color: #888;
        font-weight: 300;
    }

    .m-pagination-box {
        display: flex;
        justify-content: flex-end;
    }
    .u-editor {
        padding: 0 28px;
    }
}

.m-list-box {
    background: #fafafa;
}

@media screen and (max-width: @phone) {
    .m-community-single {
        .m-pagination-box {
            display: block;
            padding: 0 12px;
            overflow: scroll;
            padding-bottom: 15px;
        }
    }
}
