.m-comment-item__user {
    display: flex;
    flex-direction: column;
    gap: 8px;
    p {
        margin: 0;
    }
    .u-userinfo {
        display: flex;
        gap: 16px;
        .u-avatar {
            .size(72px);
            min-width: 72px;
            min-height: 72px;
            border-radius: 50%;
            overflow: hidden;
        }
        .u-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .u-name {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                color: rgba(64, 128, 255, 1);
            }
            .u-other {
                display: flex;
                gap: 4px;
                > span {
                    color: white;
                    border-radius: 2px;
                    font-size: 12px;
                    padding: 0 6px;
                    line-height: 16px;
                }
                .u-lv {
                    background: rgba(255, 219, 42, 1);
                }
                .u-vip {
                    background: rgba(111, 66, 193, 1);
                }
            }

            .u-medals {
                display: flex;
                gap: 4px;
                > img {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .u-honour {
        width: 220px;
    }
    .u-follow {
        background: #4080ff;
        border-color: #4080ff;
        &:hover {
            opacity: 0.8;
        }
    }
    .u-desc {
        font-size: 12px;
        line-height: 18px;
        color: rgba(145, 153, 170, 1);
    }
}

@media screen and (max-width: @phone) {
    .m-comment-wrapper {
        .m-comment-wrapper__left {
            margin-right: 0;
            padding-right: 0;
        }
    }

    .m-comment-item__user {
        flex-direction: row;
        // justify-content: space-between;
        align-items: end;
        margin-bottom: 8px;
        .u-userinfo {
            .u-avatar {
                .size(48px);
                min-width: 48px;
                min-height: 48px;
            }
            .u-info {
                .u-medals {
                    display: none;
                }
            }
        }
        .u-desc {
            display: none;
        }
        .u-btns {
            display: none;
        }
        .u-honour {
            min-width: 150px;
            height: 40px;
        }
    }
}
