.m-community-header {
    width: 100%;
    display: grid;
    grid-template-areas: "hot tags special";
    grid-template-columns: auto 1fr auto; /* 定义两列，每列占据可用空间的一半 */

    .m-community-header__hot {
        grid-area: hot;
        display: flex;
        // align-items: center;
        margin: 16px 0;
        .el-button {
            border-color: #4080ff;
            background: #4080ff;
            &:hover {
                opacity: 0.9;
            }
        }
        .u-item {
            margin-right: 10px;
            .icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #f1f1f1;
                margin-bottom: 6px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .title {
                margin: 0;
                color: @color;
                text-align: center;
            }
        }
    }
    .m-community-header__tags {
        grid-area: tags;
        flex: 1;
        list-style: none;
        padding: 0 30px;
        padding-left: 20px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        border-right: 1px solid @border;
        gap: 10px;
        margin-right: 25px;
        li {
            border: 1px solid #f1f2f3;
            background: #f6f7f8;
            border-radius: 6px;
            text-align: center;
            &:hover {
                background: #e3e5e7;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 14px;
                line-height: 26px;
                color: @color;
            }
        }
    }
    .m-community-header__special-box {
        grid-area: special;
        display: flex;
        align-items: center;
        gap: 12px;
        .ewm {
            min-width: 70px;
            width: 70px;
            min-height: 70px;
        }
    }
    .m-community-header__special-list {
        list-style: none;
        padding: 0;
        grid-row-gap: 10px;
        grid-column-gap: 20px;
        grid-auto-flow: column;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        flex-shrink: 0;
        & > a {
            display: flex;
            align-items: center;
            height: 28px;
            font-size: 13px;
            color: @color;
            & > span {
                margin-left: 4px;
            }
        }
    }
}

@media screen and (max-width: @mininote) {
    .m-community-header {
        .m-community-header__tags {
            grid-template-columns: repeat(6, 1fr);
        }
        .m-community-header__special-list {
            margin: 0;
        }
        .m-community-header__special-box {
            flex-direction: column;
        }
    }
}
@media screen and (max-width: @ipad) {
    .m-community-header {
        grid-template-areas:
            "hot "
            "special"
            "tags";
        .m-community-header__special-box {
            flex-direction: unset;
        }
        .m-community-header__special-list {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            margin: 12px 0;
        }
        .ewm {
            display: none;
        }

        .m-community-header__tags {
            display: flex;
            flex-wrap: wrap;
            border-right: 0;
            padding: 0;
            margin: 0;
            margin-bottom: 12px;
            & > li {
                min-width: 60px;
            }
        }
    }
}
